body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(src/nasa-sun.jpeg) !important;
  height: 100%;
  margin: 0;
}
h1 {
  color: blueviolet;
  text-align: center;
}
small {
  color: #616060;
}
small {
  margin-bottom: 5px;
}

.allApp {
  max-width: 800px;
  margin: 60px auto;
  padding: 45px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.weather {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff8eb;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #616060;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.cities-field {
  height: 38px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.max-temp {
  color: #3b3b3b;
}
.min.temp {
  color: #a8a8a8;
}
#cock {
  width: 70px;
  height: 70px;
}

#sky {
  width: 100px;
  height: 100px;
}
#conditions {
  margin-bottom: 5px;
  font-size: 17px;
}
#conditions::first-letter {
  text-transform: capitalize;
}
#temperature {
  margin-bottom: 5px;
  font-size: 17px;
}

#winds {
  margin-bottom: 5px;
  font-size: 17px;
}
