body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: linear-gradient(#111111, #afa8d8) !important;
  background-size: cover;

  margin: 0;
}
h1 {
  color: #d6e3e6;
  text-align: center;
}
form {
  margin-bottom: 20px;
}
small {
  color: #d6e3e6;
}
p {
  font-size: 14px;
  margin-bottom: 5px !important;
}
a {
  color: #111111 !important;
  text-decoration: none !important;
}

.allApp {
  max-width: 800px;
  margin: 60px auto;
  padding: 45px;
}
.container {
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.weather {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #000;
  border-radius: 16px;
  padding: 40px;
  color: #d6e3e6;
  display: block;
  margin-left: 0;

  margin-top: 60px;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.btn {
  background-color: #afa8d8 !important;
  border: #000 !important;
  color: #111111 !important;
}
.cities-field {
  height: 38px;
}
.weather-forecast {
  margin-top: 30px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 14px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.max-temp {
  color: #d6e3e6;
  font-weight: bold;
}
.min.temp {
  color: #d6e3e6;
}
#cock {
  width: 70px;
  height: 70px;
}
#city-input {
  padding: 5px;
  border-radius: 7px;
}
#sky {
  width: 100px;
  height: 100px;
}
#date {
  font-size: 14px;
}
#time-text {
  font-size: 12px;
  margin-top: 18px;
}
#conditions {
  font-size: 14px;
}
#conditions::first-letter {
  text-transform: capitalize;
}
#temperature {
  margin-bottom: 5px;
  font-size: 16px;
}

#winds {
  margin-bottom: 5px;
  font-size: 14px;
}
