body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/08_plasma_blast_2.gif) !important;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}
h1 {
  color: antiquewhite;
  text-align: center;
}
small {
  color: antiquewhite;
}
small {
  margin-bottom: 5px;
}
a {
  color: #f1be7b !important;
  text-decoration: none !important;
}

.allApp {
  max-width: 800px;
  margin: 60px auto;
  padding: 45px;
}
.container {
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.weather {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #000;
  border-radius: 16px;
  box-shadow: -20px 1px 20px #b484714f;
  padding: 40px;
  color: antiquewhite;
  display: block;
  margin-left: 0;
  margin-right: 130px;
  margin-top: 60px;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.btn {
  background-color: #f1be7b !important;
  border: none !important;
  color: #111111 !important;
}
.cities-field {
  height: 38px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 14px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.max-temp {
  color: antiquewhite;
  font-weight: bold;
}
.min.temp {
  color: antiquewhite;
}
#cock {
  width: 70px;
  height: 70px;
}

#sky {
  width: 100px;
  height: 100px;
}
#conditions {
  margin-bottom: 5px;
  font-size: 15px;
}
#conditions::first-letter {
  text-transform: capitalize;
}
#temperature {
  margin-bottom: 5px;
  font-size: 15px;
}

#winds {
  margin-bottom: 5px;
  font-size: 15px;
}
